.navbar {
    position: fixed;
    z-index: 2;
}

.banner {
    height: auto;
    background-color: lightgray;
    color: #238DFF;
    align-content: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 15px;
    position: fixed;
    display: none;
    z-index: 1;
}

.block {
    height: auto;
    z-index: 0;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

.block-title {
    color: #238DFF;
}

#output {
    height: auto;
    padding-top: 30px;
}

#reset {
    color: white;
}

#reset:hover {
    text-decoration: none;
}